<template id="tpl-getting-started-tip">
  <div class="getting-started-tip is-hidden" data-role="getting-started-tip">
    <section class="getting-started-tip__panel" role="dialog" aria-modal="false" aria-label="How to get started">
      <button type="button" class="getting-started-tip__close" data-action="close" aria-label="Close">
        x
      </button>
      <p class="getting-started-tip__eyebrow">Quick Start</p>
      <h2 class="getting-started-tip__title">Lets get them pixels dancing</h2>
      <ol class="getting-started-tip__steps">
        <li>The visual Smoke is already selected</li>
        <li>Tap MENU (below) and then AUDIO</li>
        <li>Select an Audio Source (drop a mp3, mic or stream)</li>
        <li>Tap play</li>
      </ol>
      <div class="getting-started-tip__actions">
        <button type="button" class="getting-started-tip__dismiss" data-action="dismiss">
          Do not show again
        </button>
      </div>
    </section>
  </div>
</template>
