<template id="tpl-getting-started-tip">
  <div class="getting-started-tip is-hidden" data-role="getting-started-tip">
    <section class="getting-started-tip__panel" role="dialog" aria-modal="false" aria-label="How to get started">
      <button type="button" class="getting-started-tip__close" data-action="close" aria-label="Close">
        x
      </button>
      <p class="getting-started-tip__eyebrow">Quick Start</p>
      <h2 class="getting-started-tip__title">Let's get those pixels dancing</h2>
      <ol class="getting-started-tip__steps">
        <li>Smoke is already selected to get you started.</li>
        <li>Tap MENU below, then AUDIO.</li>
        <li>Pick a source: drop an MP3, use your mic, or stream.</li>
        <li>Hit Play.</li>
      </ol>
      <div class="getting-started-tip__actions">
        <button type="button" class="getting-started-tip__dismiss" data-action="dismiss">
          Don't show again
        </button>
      </div>
    </section>
  </div>
</template>
