<template id="tpl-header">
  <div class="panel">
    <div class="panel-header">
      <span>VVavy</span>
      <button class="btn btn-share" id="btn-share" type="button">Share</button>
    </div>
    <div class="stack-md">
      <div class="form-control">
        <label for="visual-select">Visualizer</label>
        <select id="visual-select"></select>
      </div>
      <div class="form-control">
        <label for="source-select">Source</label>
        <select id="source-select">
          <option value="file">File Upload</option>
          <option value="mic">Microphone</option>
          <option value="stream">Stream URL</option>
        </select>
      </div>
    </div>
  </div>
</template>
